body {
	width: 100vw;
        height: 33vh;
        display:flex;
	flex-wrap: wrap;
	margin: 0;
	font-family: 'Roboto', sans-serif, bold;
	font-color: #ffffff;
}
img{
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}
img:hover{
	cursor: pointer;
	opacity: 0.8;
}

.container-1{
	width: 100vw;
	height: calc(100vh / 3);
	max-height: 100%;
	max-width: 100%;
	justify-content: center;
	display: flex;
	text-align: center;
	margin: auto;
}
.container-2{
	width: 100vw;
	height: 33vh;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.container-2{
	position: relative;
}
.box {
	width: calc(100vw / 3);
	height: calc(100vh / 3);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.gray {background-color: #373435;}
.blue1 {background-color: #00008B;}
.red1 {background-color: #8B0000;}
.blue2 {background-color: #00008B;}
.red2 {background-color: #8B0000;}
.blue3 {background-color: #00008B;}
.red3 {background-color: #8B0000;}


.messi2 {content:url(images/messi.png);}
.ronaldinho {content:url(images/ronaldhino.png);}
.xavi {content:url(images/xavi.png);}
.puyol {content:url(images/puyol.png);}
.suarez {content:url(images/suarez.png);}
.neymar {content:url(images/neymar.png);}


@media screen and (max-width: 1050px) {
	.container-1{
		height: calc(100vh / 3);
		width: 100vw;
	}
	.container-2{
		height: calc(100vh / 3);
	    width: 100vw;
		display: flex;
		flex-wrap: wrap;
	}
	.box {
        width: 50vw;
        height: calc(100vh / 3);
        flex-wrap: wrap;
        display: flex;
	}	
.blue1 {background-color: #00008B;}
.red1 {background-color: #8B0000;}
.blue2 {background-color: #8B0000;}
.red2 {background-color: #00008B;}
.blue3 {background-color: #00008B;}
.red3 {background-color: #8B0000;}

}



@media screen and (max-width: 600px) {
	.container-1{
		height: calc(100vh / 3);
		width: 100vw;
	}
	.container-2{
		height: calc(100vh / 3);
	    width: 100vw;
		display: flex;
		flex-wrap: wrap;
	}
	.box {
        width: 100vw;
        height: calc(100vh / 3);
        flex-wrap: wrap;
        display: flex;
	}	
}

